* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color);
}

:root {
  --main-text-color: #0d0d0d;
  --btn-background: #38460b;
  --btn-background-hover: #47500f;
}

/* navbar */
.navbar,
.container {
  margin: auto;
}

.oaklogo {
  width: 150px;
}

.navbar {
  background-color: white !important;
}

.navbar nav {
  margin-left: auto;
}

.navbar-collapse {
  right: 0;
}

.navbar-toggler {
  border: none;
}

/* hero image */
.hero {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 40px;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  padding: 50px 0 20px 0;
}

.intro,
footer {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/img/white_sand.png");
  padding-bottom: 30px;
}

/* main products */
.container {
  text-align: center;
}

h2 {
  margin: 0;
}

.btn {
  background-color: var(--btn-background);
  border: var(--btn-background);
}

.btn:hover {
  background-color: var(--btn-background-hover);
}

.container img {
  width: 400px;
  height: 450px;
  object-fit: cover;
  margin-right: 20px;
}

.colors-avaliable {
  margin-bottom: 16px;
}

.dot-black,
.dot-brown,
.dot-beige {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.dot-black {
  background-color: #0d0d0d;
  margin-right: 10px;
}

.dot-brown {
  background-color: #593e2e;
  margin-right: 10px;
}

.dot-beige {
  background-color: #d9c7c1;
}

button {
  margin-bottom: 50px;
}

.chair,
.nightstand,
.diningtable {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-text {
  text-align: left;
}

/* hero sale */
.wrapper {
  position: relative;
  text-align: center;
  color: white;
}

.maplewood {
  height: 400px;
  object-fit: cover;
}

.saletext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0 25px;
}

.saletext h3 {
  padding-top: 40px;
}

/* footer */
i {
  font-size: 1.5em;
  padding: 0 20px 20px 20px;
  margin-top: 30px;
  color: var(--btn-background-hover);
}

.soMe-text {
  margin-bottom: 0;
}

.copyright {
  margin-bottom: 0;
  font-size: 0.7em;
}

/* media query */
@media only screen and (max-width: 992px) {
  .navbar-toggler {
    margin: 30px 0;
  }

  .oaklogo {
    width: 90px;
  }
}

@media only screen and (max-width: 900px) {
  .chair,
  .nightstand,
  .diningtable {
    display: inline;
  }

  .container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 0;
  }

  .product-text {
    margin-top: 30px;
  }

  .first-img {
    margin-top: 40px;
  }

  .last-btn {
    margin-bottom: 40px;
  }

  .introduction {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 768px) {
  li a {
    font-size: 0.8em;
  }

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 0.8em;
  }
}
